.More {
    background-color: rgb(248, 224, 6);    
}
.MoreContainer {
    /* border: solid rgb(76, 23, 201) 2px; */
    display: flex;
    width: 60%;
    margin: auto;
    text-align: left;
    padding: 20px 0;
    font-size: 1.5rem;    
}
.Cursos {
    /* border: solid black 2px; */
    margin-left: 70px;
}

.Idiomas {
    /* border: solid black 2px; */
    margin-left: 60px;
    border-left: solid black 4px;
    padding-left: 40px;
    /* margin-left: 10px; */
}

.IdiomasParrafo {
    margin: 7px;
}

.CursosParrafo {
    margin: 7px;
}


.CursosItem {
    animation: slide-left 1s cubic-bezier(0.1, 0.7, 1.0, 1.4) both;
}

.LanguagesItem {
    animation: slide-write 1s cubic-bezier(0.1, 0.7, 1.0, 1.4) both;
    animation-delay: 1.5s;
}



/* keyframes para los idiomas (slide de derecha a izquierda */
@keyframes slide-write {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


/* keyframes para los cursos (slide de izquierda a derecha */
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }