.Proyectos {
    /* border: solid rgb(235, 16, 16) 3px; */
    background-color: rgb(248, 224, 6);
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.ImageProyecto {
    border: solid black 3px;
    height: 200px;
    
}